<form class="flexcol {{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <column>
            <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" height="100" width="100" />
            <img class="logo" />
        </column>
        <div class="header-fields">
            <div class="header-row">
                <input class="name-field" name="name" type="text" value="{{data.name}}" placeholder="Name" />
                <input class="name-field" name="data.player" type="text" value="{{data.data.player}}" placeholder="Player" />
                <label class="group-label">Levels</label>
                <input class="level-field" name="data.level" type="text" value="{{data.data.level}}" placeholder="1" />
            </div>
            <div class="header-row">
              <input class="bio-field" name="data.gender" type="text" value="{{data.data.gender}}" placeholder="Gender" />
              <input class="launch-race-wizard" type="button" value="{{data.data.race.value}}" />
              <label class="group-label">Hair</label>
              <input class="bio-field" name="data.hair" type="text" value="{{data.data.hair}}" placeholder="Hair" />
              <label class="group-label">Eyes</label>
              <input class="bio-field" name="data.eyes" type="text" value="{{data.data.eyes}}" placeholder="Eyes" />
            </div>
            <div class="header-row">
                <label class="group-label">Size</label>
                <select name="data.size.value" data-dtype="Number">
                    {{#select data.data.size.value}}
                      {{#each data.data.sizes as |size key|}}
                        <option value="{{key}}">{{size.label}}</option>
                      {{/each}}
                    {{/select}}
                </select>
                <label class="group-label">Age</label>
                <input class="bio-data" name="data.age" type="number" value="{{data.data.age}}" placeholder="30" />
                <label class="group-label">Height</label>
                <input class="bio-data" name="data.height" type="number" value="{{data.data.height}}" placeholder="66" />
                <select name="data.height-unit.value" data-dtype="String">
                    {{#select data.data.height-unit.value}}
                      {{#each data.data.height-units as |val key|}}
                        <option value="{{key}}">{{val.label}}</option>
                      {{/each}}
                    {{/select}}
                </select>
                <label class="group-label">Mass</label>
                <input class="bio-data" name="data.mass" type="number" value="{{data.data.mass}}" placeholder="120" />
                <select name="data.mass-unit.value" data-dtype="String">
                  {{#select data.data.mass-unit.value}}
                    {{#each data.data.mass-units as |val key|}}
                      <option value="{{key}}">{{val.label}}</option>
                    {{/each}}
                  {{/select}}
                </select>
            </div>
            <div class="header-row">
              <input class="launch-class-wizard" type="button" value="{{data.data.class.value}}" />
              <input class="personality-field" name="data.alignment" type="text" value="{{data.data.alignment}}" placeholder="Alignment" />
              <input class="personality-field" name="data.religion" type="text" value="{{data.data.religion}}" placeholder="Religion" />
              <input class="personality-field" name="data.homeland" type="text" value="{{data.data.homeland}}" placeholder="Homeland" />
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">Attributes</a>
        <a class="item" data-tab="actions">Actions</a>
        <a class="item" data-tab="skills">Skills</a>
        <a class="item" data-tab="feats">Features and Traits</a>
        <a class="item" data-tab="spells">Spells</a>
        <a class="item" data-tab="items">Gear</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
          <section class="attributes-group" id="attributes-tab">
            <div class="attributes-column">
              <label class="page-label">Abilities</label>
              <ul class="abilities-list">
                <li class="attributes-row">
                  <label class="oval-label" style="opacity: 0.0;"> </label>
                  <label class="column-label">Val</label>
                  <label class="column-label">+/-</label>
                  <label class="column-label">Tmp Val</label>
                  <label class="column-label">Tmp +/-</label>
                </li>
                {{#each data.data.attributes.stats as |stat key|}}
                  <li class="attributes-row">
                    <label class="oval-label">{{stat.label}}</label>
                    <input class="input-attribute" name="data.data.attributes.stats.{{key}}.value" type="Number" value="{{stat.value}}" placeholder="1" />
                    <input class="derived-attribute" type="Number" value="{{stat.modifier.[0]}}" disabled />
                    <input class="input-attribute" name="data.attributes.stats.{{key}}.modifier.1" type="Number" value="{{stat.modifier.[1]}}" placeholder="" />
                    <input class="derived-attribute" type="Number" value="{{stat.modifier.[2]}}" disabled />
                  </li>
                {{/each}}
              </ul>
              <label class="page-label">Languages</label>
              <input type="entry" style="width: 100%;" />
            </div>
            <div class="attributes-column">
              <label class="page-label">Saving Throws</label>
              <ul class="abilities-list">
                <li class="attributes-row">
                  <label class="oval-label" style="opacity: 0.0;"> </label>
                  <label class="column-label">Base</label>
                  <label class="column-label">Tmp Mod</label>
                  <label class="column-label">Cur</label>
                </li>
                {{#each data.data.attributes.saves as |save key|}}
                  <li class="attributes-row">
                    <label class="oval-label">{{save.label}}</label>
                    <input class="derived-attribute" type="Number" value="{{save.value}}" disabled />
                    <input class="input-attribute" name="data.data.attributes.saves.{{key}}.tmp_value" type="Number" value="{{save.tmp_value}}" placeholder="" />
                    <input class="derived-attribute" type="Number" value="{{save.cur_value}}" disabled />
                  </li>
                {{/each}}
              </ul>
              <label class="page-label">Speed</label>
              <ul class="abilities-list">
                <li class="attributes-row">
                  <label class="column-label" style="flex: 44px;">Base</label>
                  <label class="column-label" style="flex: 55px;">Armor</label>
                  <label class="column-label" style="flex: 33px;">Fly</label>
                  <label class="column-label" style="flex: 55px;">Climb</label>
                  <label class="column-label" style="flex: 66px;">Burrow</label>
                  <label class="column-label" style="flex: 88px;">Maneuver</label>
                </li>
                <li class="attributes-row">
                  <input class="derived-attribute" type="Number" style="flex: 44px;" disabled />
                  <input class="derived-attribute" type="Number" style="flex: 55px;" disabled />
                  <input class="derived-attribute" type="Number" style="flex: 33px;" disabled />
                  <input class="derived-attribute" type="Number" style="flex: 55px;" disabled />
                  <input class="derived-attribute" type="Number" style="flex: 66px;" disabled />
                  <input class="derived-attribute" type="Number" style="flex: 88px;" disabled />
                </li>
              </ul>
              <label class="page-label">Campaign Notes</label>
              <input type="entry" style="width: 100%;" />
            </div>
            <div class="attributes-column">
              <label class="page-label">Hit Points</label>
              <ul class="abilities-list">
                <li class="attributes-row">
                  <label class="oval-label">Current</label>
                  <input class="input-attribute" type="Number" />
                  <label class="oval-label">Maximum</label>
                  <input class="derived-attribute" type="Number" disabled />
                </li>
              </ul>
              <label class="page-label">Initiative</label>
              <ul class="abilities-list">
                <li class="attributes-row">
                  <label class="oval-label">Bonus</label>
                  <input class="derived-attribute" type="Number" disabled />
                  <label class="oval-label">Temp Modifier</label>
                  <input class="input-attribute" type="Number" />
                </li>
              </ul>
              <label class="page-label">Armor Class</label>
              <ul class="abilities-list">
                <li class="attributes-row">
                  <label class="column-label" style="flex: 55px;">Armor</label>
                  <label class="column-label" style="flex: 66px;">Shield</label>
                  <label class="column-label" style="flex: 33px;">Nat</label>
                  <label class="column-label" style="flex: 33px;">Dex</label>
                  <label class="column-label" style="flex: 44px;">Size</label>
                  <label class="column-label" style="flex: 77px;">Deflect</label>
                </li>
                <li class="attributes-row">
                  <input class="derived-attribute" type="Number" style="flex: 55px;" disabled />
                  <input class="derived-attribute" type="Number" style="flex: 66px;" disabled />
                  <input class="derived-attribute" type="Number" style="flex: 33px;" disabled />
                  <input class="derived-attribute" type="Number" style="flex: 33px;" disabled />
                  <input class="derived-attribute" type="Number" style="flex: 44px;" disabled />
                  <input class="derived-attribute" type="Number" style="flex: 77px;" disabled />
                </li>
                <li class="attributes-row">
                  <label class="oval-label">Total</label>
                  <input class="derived-attribute" type="Number" disabled />
                </li>
              </ul>
              <label class="page-label">Combat Modifiers</label>
              <ul class="abilities-list">
                <li class="attributes-row">
                  <label class="column-label" style="flex: 30%;">BAB</label>
                  <label class="column-label" style="flex: 30%;">CMB</label>
                  <label class="column-label" style="flex: 30%;">CMD</label>
                </li>
                <li class="attributes-row">
                  <input class="derived-attribute" type="Number" style="flex: 30%;" disabled />
                  <input class="derived-attribute" type="Number" style="flex: 30%;" disabled />
                  <input class="derived-attribute" type="Number" style="flex: 30%;" disabled />
                </li>
              </ul>
            </div>
            <div class="attributes-column">
              <label class="page-label">Resistance</label>
              <input type="entry" style="width: 100%;" />
            </div>
            <div class="attributes-column" hidden></div>
            <div class="attributes-column" hidden></div>
          </section>
        </div>

        {{!-- Actions Tab --}}
        <div class="tab actions" data-group="primary" data-tab="actions" id="actions-tab">
          AND
        </div>

        {{!-- Skills Tab --}}
        <div class="tab skills" data-group="primary" data-tab="skills" id="skills-tab">
          I
        </div>

        {{!-- Features and Traits Tab --}}
        <div class="tab feats" data-group="primary" data-tab="feats" id="feats-tab">
          SAID
        </div>

        {{!-- Spells Tab --}}
        <div class="tab spells" data-group="primary" data-tab="spells" id="spells-tab">
          HEY
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items" id="items-tab">
            <ol class="item-list">
                {{#each data.items as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                    <h4 class="item-name">{{item.name}}</h4>
                    {{!-- Iterate through all attributes on the item and output buttons for any that are formula. --}}
                    <div class="item-buttons">
                        {{#each item.data.attributes as |itemAttr key|}}
                        {{#if itemAttr.dtype}}
                            {{#if itemAttr.isFormula}}
                                {{!-- Use the items.name.key format for shorthand. --}}
                                {{#if ../../shorthand}}
                                <button class="item-button rollable" data-roll="@items.{{slugify item.name}}.{{key}}" data-label="{{ itemAttr.label }}"
                                    title="{{itemAttr.value}}">{{itemAttr.label}}</button>
                                {{!-- Use the items.name.attributes.key.value format otherwise. --}}
                                {{else}}
                                <button class="item-button rollable"
                                    data-roll="@items.{{slugify item.name}}.attributes.{{key}}.value" data-label="{{ itemAttr.label }}"
                                    title="{{itemAttr.value}}">{{itemAttr.label}}</button>
                                {{/if}}
                            {{/if}}
                        {{else}}
                            {{#each itemAttr as |itemGroupedAttr groupedKey|}}
                                {{#if itemGroupedAttr.isFormula}}
                                    {{!-- Use the items.name.key format for shorthand. --}}
                                    {{#if ../../../shorthand}}
                                    <button class="item-button rollable" data-roll="@items.{{slugify item.name}}.{{key}}.{{groupedKey}}" data-label="{{ itemGroupedAttr.label }}"
                                        title="{{itemGroupedAttr.value}}">{{itemGroupedAttr.label}}</button>
                                    {{!-- Use the items.name.attributes.key.value format otherwise. --}}
                                    {{else}}
                                    <button class="item-button rollable"
                                        data-roll="@items.{{slugify item.name}}.attributes.{{key}}.{{groupedKey}}.value" data-label="{{ itemGroupedAttr.label }}"
                                        title="{{itemGroupedAttr.value}}">{{itemGroupedAttr.label}}</button>
                                    {{/if}}
                                {{/if}}
                            {{/each}}
                        {{/if}}
                        {{/each}}
                    </div>
                    <div class="item-controls">
                        <a class="item-control" title="{{ localize 'SIMPLE.ItemEdit' }}" data-action="edit"><i class="fas fa-edit"></i></a>
                        <a class="item-control" title="{{ localize 'SIMPLE.ItemDelete' }}" data-action="delete"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
            <p>
                <a class="item-control" title="{{ localize 'SIMPLE.ItemCreate' }}" data-action="create"><i class="fas fa-plus"></i> {{ localize "SIMPLE.ItemCreate" }}</a>
            </p>
        </div>
    </section>
</form>
