<form style="flexcol">
  <div class="wizard-page">
    <div style="width: 500px;">
      <p>some text here</p>
    </div>
    <div style="width: 400px;">
      <img src="systems/ffd20plus/resources/img/class/archer.png" />
    </div>
  </div>
  <footer class="sheet-footer flexrow">
    <button type="submit" name="submit">
      <i class="fa fa-check"></i> OK
    </button>
  </footer>
</form>