@font-face {
  font-family: 'Blaka';
  src: url('../resources/fonts/Blaka-Regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Tangerine-Regular';
   src: url('../resources/fonts/Tangerine-Regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Helvetica';
   src: url('../resources/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Times';
   src: url('../resources/fonts/Lusitana-Regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Luminari';
   src: url('../resources/fonts/MedievalSharp-Regular.ttf') format('truetype');
}

.ffd20plus .window-content {
  height: 100%;
  padding: 5px;
  overflow-y: hidden;
}
.ffd20plus form {
  height: 100%;
}
.ffd20plus .sheet-header {
  flex: 0 0 150px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.ffd20plus .sheet-header column {
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  height: 150px;
  flex: 0 0 100px;
  width: 110px;
  margin-right: 10px;
}
.ffd20plus .sheet-header .logo {
  width: 98px;
  height: auto;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 5px;
  content: url("../resources/img/ffd20-logo2.png");
}
.ffd20plus .sheet-header .profile-img {
  height: 70px;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}
.ffd20plus .sheet-header .header-fields {
  flex-direction: column;
  flex: 1;
  height: 150px;
  width: 100%;
  background-image: url('../resources/img/ffvi_header.jpg');
}
.ffd20plus .sheet-header .header-row {
  height: 20%;
  padding: 0px;
  margin: 5px 5px;
  border-bottom: 0;
  font-size: 11px;
  font-family: Blaka;
}
.ffd20plus .sheet-header .header-row .name-field {
  width: 35%;
  height: 100%;
  margin: 1%;
  font-size: 18px;
  font-family: 'Tangerine-Regular', fantasy;
  font-weight: bold;
  background-color: #FFFFFF;
}
.ffd20plus .sheet-header .header-row .level-field {
  width: 10%;
  height: 100%;
  font-size: 18px;
  font-family: 'Tangerine-Regular';
  font-weight: bold;
  background-color: #FFFFFF;
}
.ffd20plus .sheet-header .header-row .bio-field {
  width: 18%;
  height: 100%;
  margin: 1%;
  font-size: 18px;
  font-family: 'Tangerine-Regular', fantasy;
  font-weight: bold;
  background-color: #FFFFFF;
}
.ffd20plus .sheet-header .header-row .bio-data {
  width: 5%;
  height: 100%;
  margin: 1%;
  font-size: 18px;
  font-family: 'Tangerine-Regular', fantasy;
  font-weight: bold;
  background-color: #FFFFFF;
}
.ffd20plus .sheet-header .header-row select {
  width: 15%;
  height: 100%;
  font-size: 18px;
  font-family: 'Tangerine-Regular', fantasy;
  font-weight: bold;
  background-color: #FFFFFF;
}
.ffd20plus .sheet-header .header-row .personality-field {
  width: 20%;
  height: 100%;
  margin: 1%;
  font-size: 18px;
  font-family: 'Tangerine-Regular', fantasy;
  font-weight: bold;
  background-color: #FFFFFF;
}
.ffd20plus .tabs {
  flex: 0 0 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  background-image: url('../resources/img/ffvi_header.jpg');
  background-position: center;
}
.ffd20plus .tabs .item {
  color: #323232;
  line-height: 40px;
  font-weight: bold;
  font-family: 'Luminari', fantasy;
}
.ffd20plus .tabs .item.active {
  color: #FFFFFF;
  text-decoration: underline;
  text-shadow: none;
  background-image: url('../resources/img/ffvi_header.jpg');
  background-position: top;
}
.ffd20plus .sheet-body {
  overflow: hidden;
}
.ffd20plus .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
}
#attributes-tab {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-image: url('../resources/img/ffvi_1.jpg');
  background-position: center left;
}
#actions-tab {
  background-image: url('../resources/img/ffvi_p2.jpg');
}
#skills-tab {
  background-image: url('../resources/img/ffvi_p3.jpg');
}
#feats-tab {
  background-image: url('../resources/img/ffvi_p4.jpg');
}
#spells-tab {
  background-image: url('../resources/img/ffvi_p5.png');
}
#items-tab {
  background-image: url('../resources/img/ffvi_p6.jpg');
  background-position: center right;
  background-repeat: no-repeat;
}
#attributes-tab .attributes-column {
  flex: 30%;
  color: #123456;
  margin: 2px;
}
#attributes-tab .page-label {
  padding: 5px;
  margin: 5px;
  background: #FFFFFF;
  color: #D2042D;
  font-weight: bold;
  font-family: 'Luminari', fantasy;
  font-size: 14px;
}
#attributes-tab .attributes-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#attributes-tab .column-label {
  margin: 1px;
  padding: 2px;
  background: #FFFFFF;
  color: #D2042D;
  font-weight: bold;
  font-family: 'Luminari', fantasy;
  font-size: 11px;
  flex: 70px;
}
#attributes-tab .attributes-row .oval-label {
  margin: 1px;
  border-radius: 5px;
  padding: 2px;
  background: #D2042D;
  color: #FFFFFF;
  font-family: 'Blaka';
  font-size: 14px;
  flex: 220px;
}
#attributes-tab .attributes-row .input-attribute {
  margin: 1px;
  background: #FFFFFF;
  color: #000000;
  font-weight: bold;
  font-family: 'Times', fantasy;
  font-size: 14px;
  flex: 70px;
}
#attributes-tab .attributes-row .derived-attribute {
  margin: 1px;
  background: #D0D0D0;
  color: #000000;
  font-weight: bold;
  font-family: 'Times', fantasy;
  font-size: 14px;
  flex: 70px;
}
.ffd20plus .editor,
.ffd20plus .editor-content {
  height: 100%;
}
.ffd20plus .item-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}
.ffd20plus .item-list .item {
  min-height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
  align-items: stretch;
}
.ffd20plus .item-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}
.ffd20plus .item-list .item-name {
  margin: 0;
}
.ffd20plus .item-list .item-controls {
  flex: 0 0 36px;
}
.ffd20plus .item-list .item-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  flex: 2;
  justify-content: flex-start;
}
.ffd20plus .item-list .item-button {
  line-height: 1;
  font-size: 11px;
  flex: none;
  width: auto;
}
.ffd20plus .group-controls {
  margin: 5px;
}
.ffd20plus .groups-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ffd20plus .group {
  margin: 5px 0 0;
  padding: 0;
}
.ffd20plus .group-header {
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #AAA;
  border-radius: 2px;
  padding: 2px 5px;
}
.ffd20plus .group-key,
.ffd20plus .group-label {
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-bottom: 1px solid #AAA;
  background: transparent;
  border-radius: 0;
  margin-right: 1px;
}
.ffd20plus .group-key {
  opacity: 0.75;
}
.ffd20plus .group-label {
  flex: 2;
}
.ffd20plus .group-dtype {
  height: 24px;
  flex: 0 0 116px;
  margin: 0 5px;
}
.ffd20plus.sheet.actor {
  min-width: 560px;
  min-height: 420px;
}
.ffd20plus.sheet.item {
  min-width: 460px;
  min-height: 400px;
}
.wizard-page {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
}